language: crystal
sudo: true
addons:
  apt:
    packages:
      - oracle-java8-set-default
before_script:
  - curl -O https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-5.1.1.deb
  - sudo dpkg -i --force-confnew elasticsearch-5.1.1.deb
  - sudo service elasticsearch start
  - sleep 10
  - crystal ./script/runner.cr -- es:index:create_all

